In [1]:
# Advent of Code 2019
import numpy as np
import pandas as pd

# Input import
i = 'pc' # initial
d3 = pd.read_csv('input_3%s.txt' %i,header=None)

In [2]:
# Challenge 3.1
d3

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
0,R1006,U867,R355,D335,L332,U787,L938,U987,L234,U940,...,D454,R279,D642,L773,D653,R127,D199,R119,U509,L530
1,L1003,D933,L419,D202,L972,U621,L211,U729,R799,U680,...,D871,L765,D803,R630,U108,L79,U625,R77,U176,R911

In [3]:
# Challenge 3.2